certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
idna==3.4
pycparser==2.21
requests==2.31.0
tableauhyperapi==0.0.17360
urllib3==2.0.3
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
colorama==0.4.6
exceptiongroup==1.1.2
idna==3.4
iniconfig==2.0.0
packaging==23.1
pluggy==1.2.0
pycparser==2.21
pytest==7.4.0
requests==2.31.0
tableauhyperapi==0.0.17360
tomli==2.0.1
urllib3==2.0.3
